#contain {
    top: 5vh;
    position: relative;
    grid-template-rows: 70px;
    grid-template-columns: 32% 32% 32%;
    gap: 5px;
    width:400px;
    height: 80vh;
    display: grid;
    margin: auto;
    background-color: rgba(234, 62, 19, 0.88);
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
}

#display {
    background-color: rgb(233, 219, 195);
    border: 1px solid rgb(214, 159, 159);
    grid-column: 1/4;
    font-size: 20px;
    border-radius: 5px;
    line-height: 50px;

    
    
}
#menos {
    background-color: rgb(233, 219, 195);
    line-height: 50px;
    font-size: 20px;
    line-height: 20px;
}

.button {
    background-color: rgb(233, 219, 195);
    line-height: 50px;
    font-size: 40px;
}

#zero {
    grid-column: 1/2;
}

#calculo {
    grid-column: 3/4;
    font-size: 20px;
}

#virgula {
    text-align: center;
}

#apaga {
    grid-column: 1/2;
}

body {
    background-image: linear-gradient(to right, red, rgba(244, 84, 10, 0.637))
}

@media only screen and (min-width:300px) and (max-width:550px){
    #contain {
        width:  40vh;
        height: 80vh;
        grid-template-rows: 50px;
    }
    #menos{ 
    font-size: 10px;
    }
    #calculo{
    font-size: 10px;
    }
    .button {
        background-color: rgb(233, 219, 195);

        font-size: 20px;
    }
}